.section__tienda3 {
    @include flex (row, center, center, 1);
    background-color: rgb(27, 27, 27);
    width: 100%;
    padding: 16px 40px;
    min-height: 700px;
    .articulos__tienda3 {
        max-width: 1440px;
        @include flex (row, center, center, 1);
        img {
            border-radius: 40px;
            max-width: 400px;
            margin-right: 20px;
        }
        .descripcion__compra {
            width: 33%;
            color: $white;
        }
        .info__compra {
            @include flex (column, center, center, 0);
            ul {
                li {
                    list-style: none;
                }
            }
            text-align: center;
            color: $white;
            width: 33%;
        }
    }
}

@media (max-width: 1035px) {
    .section__tienda3 {
        .articulos__tienda3 {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {
                width: 350px;
                padding: 0px;
            }
            .info__compra {
                width: 100%;
            }
            .descripcion__compra {
                width: 100%;
            }
        }
    }
}