    header {
        @include flex (row, center, center, 0);
        background-color: $black;
        width: 100%;
        padding: 16px 40px;
        .header_wrapper {
            max-width: 1440px;
            width: 100%;
            @include flex (row, between, center, 0);
            .header__logo {
                width: 120px;
                img {
                    width: 100%;
                    min-width: 80px;
                    border-radius: 70px;
                }
            }
            .header__icons {
                a {
                    margin-right: 20px;
                    svg {
                        color: $white;
                    }
                }
            }
        }
    }
    
    @media (max-width: 500px) {
        header {
            .header_wrapper {
                flex-direction: column;
            }
            .navbar {
                align-self: flex-end;
            }
            .header__icons {
                align-self: flex-start;
            }
        }
    }