* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* ======================================HEADER START====================================== */

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 72%;
    height: 175px;
    padding: 5px;
    margin: 0%;
}

.headernav {
    background-image: url(../imagesProyecto/home-footer/header-1.jpg);
    background-position: 0px -300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    margin: 0%;
}

.nav .contacto {
    position: relative;
    cursor: pointer;
}

.nav .contacto:hover .menu {
    display: flex;
}

.nav .contacto p {
    color: #fff;
    padding-right: 20px;
    list-style: none;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}

.nav .contacto p:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 157);
}

.nav .contacto .menu {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 50%;
    transform: translateX(50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 12px;
    border-radius: 15px;
}

.nav .contacto .menu a {
    color: black;
}

.nav .contacto .menu ul li {
    list-style: none;
}

.nav .contacto .menu ul li:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    padding-left: 5px;
    padding-right: 0px;
}

.nav a {
    color: #fff;
    padding-right: 20px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.nav a:hover {
    transform: scale(1.1);
    color: rgb(255, 0, 157);
}


/* ======================================HEADER END====================================== */


/* ======================================FOOTER START====================================== */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 120px;
    background: #000F0E;
    margin-top: 40px;
}

.footer img {
    height: 100px;
    width: 100px;
    align-content: center;
    margin-right: 15px;
    border-radius: 100px;
}


/* ======================================FOOTER END====================================== */


/* ======================================INDEX START====================================== */

.padre {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-negro-vacio-luz-iluminada-ademas_93675-45849.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sectionIndex {
    background: rgb(219, 80, 240);
    background: linear-gradient(90deg, rgba(219, 80, 240, 0.4962359943977591) 49%, rgba(3, 200, 250, 0.5018382352941176) 100%);
    width: 90%;
    margin-bottom: 40px;
    border-radius: 40px;
    overflow: hidden;
}

.tituloindex {
    margin-right: 100px;
    margin-top: 30px;
    font-size: xx-large;
    font-family: initial;
    color: white;
}

.segundasection {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
    padding-top: 8px;
}

.articleIndex .segundasection .carrousel {
    border-radius: 70px;
    width: 40%;
    padding-right: 20px;
}

.sectionaside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionaside .sectionIndex .articleIndex .segundasection .descripcion {
    font-family: initial;
    font-weight: bolder;
    text-align: justify;
    color: rgb(214, 214, 214);
    width: 60%;
    margin-right: 50px;
    padding: 5px;
}

.articleIndex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
}

.segundasection .asideIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    margin-bottom: 40px;
    border-end-end-radius: 40px;
    border-top-right-radius: 40px;
}

.sectionaside .asideIndex img {
    width: 230px;
    height: 150px;
    border-radius: 40px;
    padding: 0px 5px;
}

.sectionaside .asideIndex iframe {
    border-radius: 20px;
    margin: 0px 0px;
    padding: 0px 5px;
}

.sectionaside .asideIndex img:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

iframe:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.hoveragran img:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.articleIndex .segundasection .asideIndex p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: initial;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.431);
    padding: 4px 8px;
    border-radius: 15px;
    margin: 8px 0px;
}


/* ======================================INDEX END====================================== */


/* ======================================TIENDA START====================================== */

.barranavTienda {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 90%;
    height: 100%;
    transition: all 0.1s;
}

.barranavTienda a {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.barranavTienda .objetoTienda:hover {
    transition: all 0.1s;
    transform: scale(1.1);
}

.sectionTienda {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px;
    margin-bottom: 40px;
    align-items: stretch;
    justify-content: space-around;
    width: 90%;
    min-height: 500px;
}

.articleTienda {
    display: flex;
    background: rgba(255, 255, 255, 0.527);
    margin-bottom: 20px;
    justify-items: center;
    width: 500px;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.articleTienda img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    transition: transform 1s cubic-bezier(0.99, -0.72, 0, 1.52);
    border-radius: 15px;
}

.articleTienda img:hover {
    transform: scale(1.1);
}

.articleTienda p {
    max-height: 80px;
    min-height: 0px;
    overflow-y: auto;
}

.textoTienda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: start;
}

.textoTienda p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 17px;
}

.textoTienda h5 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: initial;
}

.articleTienda .textoTienda .botonArticulo {
    height: 30px;
    width: 90px;
    border-radius: 40px;
    font-family: monospace;
    border: rgb(69, 0, 78) solid;
    transition: all 0.2s;
}

.articleTienda .textoTienda .botonArticulo:hover {
    transform: scale(1.1);
    border: rgb(0, 4, 255) solid;
}


/* ======================================TIENDA END====================================== */


/* ======================================TIENDA2 START====================================== */

.sectionTienda .masVendidosTienda2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.sectionTienda .masVistasTienda2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.sectionTienda .destacadasTienda2 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.opcionElegidaTienda2 {
    padding-bottom: 30px;
    font-family: cursive;
    color: white;
}


/* ======================================TIENDA2 END====================================== */


/* ======================================TIENDA3 START====================================== */

.sectionTienda3 {
    max-width: 95%;
    min-height: 545px;
    margin-bottom: 40px;
}

.sectionTienda3 img {
    width: 500px;
    height: 400px;
    margin: 30px 30px;
    border-radius: 50px;
}

.sectionTienda3 .articleTienda3 {
    display: flex;
    background: rgb(219, 80, 240);
    background: linear-gradient(90deg, rgba(219, 80, 240, 0.4962359943977591) 49%, rgba(3, 200, 250, 0.5018382352941176) 100%);
    border-radius: 40px;
}

.sectionTienda3 .articleTienda3 .descripcionTienda3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionTienda3 .articleTienda3 .descripcionTienda3 h1 {
    font-size: xx-large;
    font-family: initial;
    text-align: center;
}

.sectionTienda3 .articleTienda3 .letraDescripcion {
    font-weight: bolder;
}

.sectionTienda3 .articleTienda3 .descripcionTienda3 .inputCheckboxTienda3 {
    font-size: x-large;
    font-family: initial;
    text-align: end;
    margin-right: 60px;
}

.sectionTienda3 .articleTienda3 .descripcionTienda3 .precioTienda3 {
    font-size: x-large;
    font-family: initial;
    margin-left: 30px;
}

.sectionTienda3 .articleTienda3 .inputInfoTienda3 {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    justify-content: center;
    text-align: center;
}

.sectionTienda3 .articleTienda3 .inputInfoTienda3 h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: cursive;
}

.sectionTienda3 .articleTienda3 .inputInfoTienda3 ul li {
    margin-bottom: 10px;
    list-style: none;
}

.sectionTienda3 .articleTienda3 .inputInfoTienda3 input {
    border-radius: 4px;
}

.sectionTienda3 .articleTienda3 .inputInfoTienda3 .inputTienda3 input {
    margin-top: 10px;
    width: 130px;
    height: 40px;
    border-radius: 8px;
}


/* ======================================TIENDA3 END====================================== */


/* ======================================SERVICE START====================================== */

.granSectionGrid {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "tituloGrid tituloGrid tituloGrid tituloGrid tituloGrid" "grid grid grid grid grid";
    grid-gap: 16px;
    justify-items: center;
    align-items: center;
    color: rgb(187, 187, 187);
}

.granSectionGrid .tituloGrid {
    grid-area: tituloGrid;
    justify-self: left;
    padding-left: 80px;
    color: ivory;
}

.granSectionGrid .separacion {
    margin-bottom: 50px;
}

.granSectionGrid .grid {
    text-align: center;
}

.granSectionGrid .buttonServiceGrid {
    height: 50px;
    width: 100px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.segundaSectionService {
    width: 100%;
    margin-left: 100px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.segundaSectionService h1 {
    font-size: 45px;
}

.segundaSectionService .contenedor1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.segundaSectionService .contenedor1 img {
    width: 150px;
    height: 100px;
    border-radius: 100px;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: 10px;
}

.granSection {
    background: rgba(251, 251, 251, 0.472);
    border-radius: 40px;
    padding-bottom: 30px;
    margin-top: 48px;
}


/* ======================================SERVICE END====================================== */