/* common */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* components */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #141414;
  width: 100%;
  padding: 16px 40px;
}
footer .footer_wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #e2e2e2;
}
footer .footer_wrapper .footer__logo {
  width: 100%;
  min-width: 120px;
  border-radius: 70px;
}

@media (max-width: 890px) {
  .footer {
    padding: 0px;
  }

  .texto__footer {
    font-size: 12px;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #141414;
  width: 100%;
  padding: 16px 40px;
}
header .header_wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .header_wrapper .header__logo {
  width: 120px;
}
header .header_wrapper .header__logo img {
  width: 100%;
  min-width: 80px;
  border-radius: 70px;
}
header .header_wrapper nav {
  align-self: flex-end;
}
header .header_wrapper nav ul {
  display: flex;
  flex-wrap: wrap;
}
header .header_wrapper nav ul li {
  list-style: none;
  margin-right: 30px;
}
header .header_wrapper nav ul li:last-child {
  margin-right: 0px;
}
header .header_wrapper nav ul li a {
  text-decoration: none;
  color: #e2e2e2;
  font-family: sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
header .header_wrapper .header__icons a {
  margin-right: 20px;
}
header .header_wrapper .header__icons a svg {
  color: #e2e2e2;
}

.beneficio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
  width: 100%;
  margin: 40px;
  text-align: center;
}
.beneficio:last-child {
  margin-right: 0px;
}
.beneficio .beneficio__imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  object-fit: contain;
  width: 130px;
  height: 130px;
}
.beneficio .beneficio__imagen .imagen__ben {
  border-radius: 100px;
}
.beneficio h3 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.beneficio span {
  font-weight: bold;
}

/* pages */
section .banner {
  height: 40vh;
  width: 100%;
  background-image: url(../imagesProyecto/index/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section .beneficios {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
}

.titulo__index {
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
}
.titulo__index .titulo__wrapper {
  text-align: center;
  max-width: 1440px;
  color: #7e7e7e;
}

.carousel-wrapper {
  min-height: 40vh;
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #e9a54d;
}
.carousel-wrapper .carousel__div {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.carousel-wrapper .carousel__div .carousel-inner {
  overflow: hidden;
  width: 500px;
}
.carousel-wrapper .carousel__div .carousel-inner .imagesize {
  width: 100%;
  border-radius: 40px;
}
.carousel-wrapper .carousel__div .texto__index {
  width: 60%;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.segunda_section__index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #494848;
  width: 100%;
  padding: 16px 40px;
  text-align: center;
}
.segunda_section__index .segunda__section__index__wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #e2e2e2;
}

@media (max-width: 500px) {
  .carousel-wrapper .carousel__div {
    max-width: 360px;
  }
  .carousel-wrapper .carousel__div .carousel-inner {
    max-width: 360px;
  }
}
@media (max-width: 1408px) {
  .carousel-wrapper .carousel__div .texto__index {
    width: 100%;
  }
}
.section__service {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #7c7c7c;
}
.section__service .articulo__1 {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
}
.section__service .articulo__1 .primer__parte {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section__service .articulo__1 .segunda__parte {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__service .articulo__1 .button__index {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  border: solid 3px;
}
.section__service .articulo__1 .button__index:hover {
  border-color: blue;
}
.section__service .articulo__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__service .articulo__2 .seccion__imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__service .articulo__2 .seccion__imagenes div {
  margin-bottom: 30px;
}
.section__service .articulo__2 .seccion__imagenes div a img {
  height: 150px;
  width: 200px;
  margin-right: 5px;
  border-radius: 40px;
}

.articulos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1b1b1b;
  width: 100%;
  padding: 16px 40px;
}
.articulos .articulo {
  max-width: 1440px;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: #e2e2e2;
  padding: 20px;
  margin: 20px;
  background-color: rgba(66, 66, 66, 0.589);
  border-radius: 30px;
  min-height: 366px;
  overflow: hidden;
}
.articulos .articulo .button__articulo {
  margin-top: 10%;
  margin-left: 10%;
  height: 60%;
  width: 50%;
  border-radius: 30px;
  border: solid 5px;
  transition: all 0.5s;
}
.articulos .articulo .button__articulo:hover {
  border-color: blue;
  transform: scale(1.1);
}
.articulos .articulo .titulo__texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: monospace;
  margin: 10px;
  font-size: 15px;
}
.articulos .articulo .img__articulo {
  max-width: 240px;
  border-radius: 60px;
  background-color: white;
}

@media (max-width: 550px) {
  .articulos {
    flex-direction: column;
  }
  .articulos .articulo {
    flex-direction: column;
    width: 250px;
  }
  .articulos .articulo .img__articulo {
    max-height: 150px;
  }
}
.divisiones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #e2e2e2;
  border: solid whitesmoke 3px;
}

.section__tienda3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1b1b1b;
  width: 100%;
  padding: 16px 40px;
  min-height: 700px;
}
.section__tienda3 .articulos__tienda3 {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__tienda3 .articulos__tienda3 img {
  border-radius: 40px;
  width: 400px;
  margin-right: 20px;
}
.section__tienda3 .articulos__tienda3 .descripcion__compra {
  width: 33%;
  color: #e2e2e2;
}
.section__tienda3 .articulos__tienda3 .info__compra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  color: #e2e2e2;
  width: 33%;
}
.section__tienda3 .articulos__tienda3 .info__compra ul li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
